[submodule "appchat_client"]
	path = appchat_client
	url = https://github.com/win050801/appchat_client_update
[submodule "app-chat-server"]
	path = app-chat-server
	url = https://github.com/win050801/sever-AppChat
